@layer components {
    .text-large {
        font-family: var(--font-pretendard);
        font-size: 20px;
        font-weight: 600;
        line-height: 120%;
    }
    .text-medium {
        font-family: var(--font-pretendard);
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
    }
    .text-small {
        font-family: var(--font-pretendard);
        font-size: 12px;
        font-weight: 500;
        line-height: 120%;
    }
}
